.user-post {
  border: 1px solid #808080;
  border: 1px solid #d0d1d5;
  border-radius: 5px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 7px;
}

@font-face {
  font-family: 'klavika_boldbold_osf';
  src: url("../fonts/klavika_bold_bold_osf-webfont.woff2") format("woff2"), url("../fonts/klavika_bold_bold_osf-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.feed {
  background-color: #fff;
  border: 1px solid #808080;
  border: 1px solid #d0d1d5;
  border-radius: 5px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 14px 10px 10px;
}
.feed h4 {
  padding-bottom: 12px;
  color: #4b4f56;
  font-weight: 400;
}

.user-post {
  border: 1px solid #808080;
  border: 1px solid #d0d1d5;
  border-radius: 5px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.container {
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px);
}

#header {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
}

.logo {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
}

.form-submit {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
}

#main {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  margin-left: calc(16.66667% - 23.33333px + 40px);
}
#main::after {
  clear: both;
  content: "";
  display: block;
}

.side-nav {
  width: calc(12.5% - 22.5px);
  float: left;
  margin-left: 20px;
}

.hero {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
}

.profile-feed {
  width: calc(58.33333% - 31.66667px);
  float: left;
  margin-left: 20px;
}

.feed {
  width: calc(66.66667% - 33.33333px);
  float: left;
  margin-left: 20px;
}

.related {
  width: calc(33.33333% - 26.66667px);
  float: left;
  margin-left: 20px;
}

#header {
  background-color: #3b5998;
  color: white;
  height: 85px;
}
#header a {
  color: #9bb3d8;
  margin-left: 145px;
}

.logo {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  font-size: 26px;
  font-family: 'klavika_boldbold_osf';
}

.form-submit {
  margin-top: 20px;
  font-size: 14px;
}

.form-group {
  display: inline-block;
  margin-bottom: 5px;
  padding-right: 10px;
  letter-spacing: .5px;
}

input {
  display: block;
}

button {
  background-color: #4267b2;
  border-color: #29487d;
  color: white;
  padding: 5px;
}

.side-nav {
  height: 200px;
  border: 1px solid blue;
}
.side-nav li {
  list-style: none;
  text-align: left;
  margin: 10px 0;
}
.side-nav img {
  max-width: 100%;
  border: 3.5px solid #fff;
  border-radius: 5px;
}
.side-nav a {
  font-size: 25px;
  color: #000;
}
.side-nav .at-user {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: #9bb3d8;
}

.hero {
  background-image: url(../img/papyrus.jpg);
  height: 315px;
  border: 1px solid red;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9ebee;
  font-family: Helvetica, Arial, sans-serif;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
