.container {
  @include grid-collapse;
}

// Header grid
#header {
  @include grid-column(12);

}
.logo {
  @include grid-column(6 of 12);
}

.form-submit {
  @include grid-column(6 of 12);
}


// body grid
#main {
  @include grid-column(12);
  @include grid-push(2);
  @include grid-container;
}

.side-nav {
  @include grid-column(1.5 of 12);
}

.hero {
  @include grid-column(12 of 12);
  margin-bottom: 10px;
}

//Main body grid

.profile-feed {
  @include grid-column(7);
  border: 1px solid black;
}

.feed {
  @include grid-column(8);
  border:1px solid green;
}

.related {
  @include grid-column(4);
  border: 1px solid blue;
}











// #main-body {
//   @include grid-column(12);
//   @include grid-collapse;
//   @include grid-push(1.5);
//
// }
//
// .feed {
//   @include grid-column(5);
//   border: 1px solid green;
// }
//
// .related {
//   @include grid-column(2);
//   border: 1px solid blue;
// }
