.side-nav {
  height: 200px;
  border: 1px solid blue;
  & li {
    list-style: none;
    text-align: left;
    margin: 10px 0;
  }
  & img{
    max-width: 100%;
    border: 3.5px solid $primary-color;
    border-radius: 5px;

  }
  & a {
    font-size: 25px;
    color: $text-color;
  }
  & .at-user {
    display: block;
    font-weight: bold;
    font-size: 14px;
    color: $forgot-color;
  }

}
