.feed {
  background-color: $primary-color;
  @include common-border;
  padding: 14px 10px 10px;
  & h4 {
    padding-bottom: 12px;
    color: #4b4f56;
    font-weight: 400;
  }
}

.post-container {
  @include common-border;
}

.user-post {
  padding: 7px;
  & .post-content {
    border: 1px solid $common-border-color;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.35);
  }
  & img {
    max-width: 100%;
  }
}

.comment-section {
  background-color: $background-color;
  & a {
    color: $brand-color;
  }
}

.author, .community, .about {
  background-color: $primary-color;
  @include common-border;
  padding: 7px;
  word-break: break-all;
}
