@font-face {
    font-family: 'klavika_boldbold_osf';
    src: url('../fonts/klavika_bold_bold_osf-webfont.woff2') format('woff2'),
         url('../fonts/klavika_bold_bold_osf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
