*,*:before, *:after {
  @include border-box;
  margin: 0;
  padding: 0;
}

// @include responsive-wireframe;

body {
  background-color: $background-color;
  font-family: Helvetica, Arial, sans-serif;
}

a:hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
}
